<nav class="flex flex-col mt-4">
  {% set navPages = collections.all | eleventyNavigation("Docs") %}
  <ul>
    {% for entry in navPages %}
      <li>
        <a
         href="{{ entry.url | url }}"
         class="opacity-80 hover:opacity-100 font-semibold">
          {{ entry.title }}
        </a>
        {% set subNavPages = entry.children %}
        <ul class="pl-2">
          {% for subEntry in subNavPages %}
            <li>
              <a
         href="{{ subEntry.url | url }}"
         class="opacity-80 hover:opacity-100">
                {{ subEntry.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>