<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ '/assets/images/logo/favicon.ico' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/output.css' | url }}"/>
  </head>
  <body class= "min-h-screen flex flex-col w-full overflow-x-hidden bg-zinc-900 text-gray-200">
    <header class ="px-6 lg:px-12 py-9 flex justify-between items-center text-white " >
      <a class="flex items-center opacity-90 hover:opacity-100 font-semibold" href="{{ '/' | url }}">
        {% include "../svg/logo.svg" %}
        <h1 class="px-2 text-4xl">{{ title }}</h1>
        <span class="red-badge">alpha</span>
      </a>
      {% include "../components/navigation.njk" %}
    </header>
    <main>
      <div class="h-8"></div>
      <h1 class="sr-only">Welcome to usdtweak</h1>
      <section class="px-6 sm:px-8 lg:flex flex-col lg:w-full lg:items-center lg:justify-between lg:gap-4">
        <div class="lg:w-1/2 flex flex-col justify-center items-center">
          <h2 class="text-center text-white sm:text-[length:48px] sm:leading-[50px] lg:text-[length:64px] lg:leading-[66px]">
            <strong class="text-orange-400">Ultra</strong> lightweight <br>
            <strong>
              <span class="text-sky-400" >USD </span> editor</strong>
          </h2>
          <p class="" >
            usdtweak is a free and open source editor for Pixar's USD format.
          </p>
        </div >
        <div class="flex flex-col xl:flex-row gap-4 xl:">
          <a href="https://github.com/cpichard/usdtweak" class="inline-flex items-center justify-center h-14 xl:h-16 box-border px-8 rounded bg-blue-brand text-white bg-sky-500 hover:bg-orange-400/75 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-transparent focus:ring-blue-200 font-semibold w-full xl:w-60">
            Download
            <span class="mx-1">(alpha)</span>
          </a>
          <a href=" {{ '/Docs' | url }}" class="inline-flex items-center justify-center h-14 xl:h-16 t box-border px-8 rounded bg-transparent text-white hover:text-orange-400 border-current hover:border-blue-brand focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-transparent focus:ring-blue-200 focus:ring-opacity-80 font-semibold border-2 w-full xl:w-60">
            Read the docs
          </a>
        </div>
        <div class="h-8"></div>
        <div class="lg:w-5/6 ">
          <img src=" {{ '/assets/images/screens/screen1.png' | url }}" alt="usdtweak screenshot">
        </div>
      </section>
      <div class="h-16"></div>
      <section class="max-w-5xl p-6 mx-auto md:p-10">
        <div class="lg:w-3/4 flex flex-col">
          <h2 class="text-white">
            <strong>Blazing  fast <span class="text-orange-400">startup</span> and <span class="text-sky-400">file loading</span> times</strong>
          </h2>
          <p class="my-4" >
            usdtweak is written in C++ and relies entirely on GPU for the UI, no more bloated python packages overhead, allowing for the fastest startup and a snappy UI.
        </p>
        </div>
        <div class="h-16"></div>
        <div class="lg:w-3/4 flex flex-col ">
          <h2 class="text-white">
            <strong>
              Feature rich multi <span class="text-sky-400">Layer</span>  and <span class="text-orange-400">stage</span> editing </strong>
          </h2>
          <p class="my-4" >
            usdtweak can efficiently load multiple layers and stages in memory at a time, allowing the user to quickly switch between them when authoring on layers or working with prim attributes on a stage.
        </p>
        </div>
      </section>
      <div class="h-16"></div>
    </main>

    <footer></footer>
  </body>
</html>